language: scala

scala:
  - 2.11.8
  # - 2.10.6

jdk:
  - oraclejdk8

addons:
  postgresql: "9.3"

before_script:
  - psql -c 'create database world;' -U postgres && \
  - psql -c '\i modules/postgres/world.sql' -d world -U postgres && \
  - psql -d world -c "create extension postgis" -U postgres && \
  - psql -d world -c "create type myenum as enum ('foo', 'bar')" -U postgres

script:
  - sbt ++$TRAVIS_SCALA_VERSION core/test h2/test postgres/test

cache:
  directories:
  - $HOME/.sbt/0.13
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/cache
  - $HOME/.sbt/launchers
  - $HOME/.ivy2
  - $HOME/.coursier

before_cache:
  - du -h -d 1 $HOME/.ivy2/
  - du -h -d 2 $HOME/.sbt/
  - du -h -d 4 $HOME/.coursier/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
  - find $HOME/.coursier/cache -name "*.lock" -type f -delete
